.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000000;
}
.circle:hover {
  cursor: pointer;
}

.circle-image {
  position: absolute;
  width: 60px;
  height: 60px;
  object-fit: fill;
}
.skill-text {
  position: absolute;
  left: 50px;
  top: 75px;
  color: white;
}
